.column{
    background-color: rgb(10, 86, 47);
    color: white;
}
ul li a{
    color: white;
}
.filters{
    background-color: rgb(208, 232, 219);
    color: white;
}
.conceptos{
    background-color: rgb(208, 232, 219);
}
#contenido{
    margin-top: -21px;
}
.vh100{
    height: 100vh;
}
.hpercen100{
    height: 100%;
}
body{
    overflow-x: hidden;
}
thead{
    background-color: rgb(10, 86, 47) !important;
}
.rowfix{
    margin-bottom: 0px;
}
.active{
    background-color: rgb(1, 36, 17) !important;
}
.side_nav li{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.side_nav li a{
    width: 100%;
    padding: 10px;
}
.table-responsive{
    overflow-x: scroll;
}
.card-subheader{
    background-color: rgb(221, 188, 127);
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.edit_entidad_btn{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto !important;
    line-height: 13px !important;
}